@mixin shrinkLabel {
  top: -14px;
  font-size: 14px;
  color: black;
  
}

.form-container{
    width:100%;
    padding:10px;
    .form-error,.form-error-no-padding{
        background:red;
        color:white;
        padding:10px;
        border-radius:10px;
        font-weight:600;
    }
    .form-error-no-padding{
        padding:0;
    }
    .form-input-container{
        position:relative;
        .form-input-label{
            display:block;
            font-size: 16px;
            font-weight: normal;
            position: absolute;
            pointer-events: none;
            left: 5px;
            top: 5px;
            transition: 300ms ease all;
            &.shrink {
                @include shrinkLabel();
            }
        }
        .form-input{
            border:none;
            border-bottom:2px solid black;
            width:100%;
            margin:10px 0px 20px 0px;
            &:focus{
                outline:none;
            }
            &:focus ~ .form-input-label {
                @include shrinkLabel();
            }
        }
        
    }
}