body {
  margin: 0;
  padding: 20px 40px;
  font-family: "Open Sans Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}

@media screen and (max-width:500px){
    
     .navbar-logo{
            font-family: cursive;
    }
    .category-section-products{
        // flex-wrap:wrap !important;
        flex-direction:column !important;
    }
    .category-section-header{
        background:black !important;
        color:white !important;
        margin-bottom:5px !important;
        padding:0 5px !important;
        .view-more{
            color:white !important;
            &:hover{
                box-shadow: 0.3rem 0.3rem red, -0.3rem -0.3rem #ccc !important;
            }
        }
    }
    // Individual Category Pages CSS like : Hats, sneakers//
    .category-section-products-all{
        grid-template-columns: repeat(1, 1fr) !important;
    }
    //----------------------------------------------------//

}
